*{
  /* outline: 1px solid lime; */
}

html,
body,
#root,
.App{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
}
a{
  text-decoration: none;
}

a,
button{
  cursor: pointer;
}